.has-background-red-no-border{
  background-color: #c62828;
  border: none;
}

.has-background-red{
  background-color: #c62828;
}

.has-text-red{
  color: #c62828 !important;
}

.box-shadow{
  box-shadow: 0 .5rem .5rem 0rem rgba(10,10,10,.2);
  transition: all .4s ease-in-out;
}

.has-background-buffet{
  background: rgba(0,0,0,0.5);
  background-image: url("images/image.jpg");
  background-size: cover;
}

.box-shadow:hover{
  box-shadow: 0 3rem 3rem -1rem rgba(10,10,10,.2); 
  transform: scale(1.05);
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 65px;
}

.margin-top{
  margin-top: 40px;
}